<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>
<div id="webcam"></div>
<script type="text/javascript">

	function onload_complete(msg) {
        // fetch the CSRF meta tag data
        var csrf_param = $('meta[name=csrf-param]').attr('content');
        var csrf_token = $('meta[name=csrf-token]').attr('content');

        // reset the api URL appending the auth token parameter
        webcam.set_api_url('<%= upload_photos_path %>' + '?' + csrf_param + "=" + encodeURI(csrf_token));
    }
    
    webcam.set_api_url('');
    webcam.set_quality(90);
    webcam.set_shutter_sound(true);
    
    webcam.set_hook('onLoad', 'onload_complete');
    $('#webcam').html(webcam.get_html(320, 240));
    
</script>
<input type="button" value="Take picture" onclick="webcam.snap();"/>